@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
  min-height: 100vh;
  background-color: #caf0f8;
  overflow-x: hidden;
}

.main{
  min-height: 90vh;
  width: 100vw; 
  background-color: #caf0f8;
}

.bg-carousel{
  background-color: #4cd0eb;
}

.bg{
  background-color: #caf0f8;  
}

.link{
  text-decoration: none;
}

.footer{
  background-color: #0077b6;
}

.cards{
  background-color: #90e0ef;
}

/* CategorySlider */

.burger-menu{
  position: relative;
}

.burger-menu .cat {
  transition: all 0.3s ease-in-out;
}

.burger-menu .d-flex {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.burger-menu.open .d-flex {
  max-height: 200px;
}

.burger-menu .hide {
  display: none;
}

.burger-menu .show {
  display: block;
}

.cat-btn:hover{
  transition: all 0.3s ease-in;
  background-color: #033753;
  color: white;
}

/* Footer */

.footer-text{
  font-size: large;
}